@* @model IEnumerable<QuanLyMonHocDoAn.Models.Dangky> *@


<style>
    #dangTrongQuaTrinhLam {
        cursor: pointer;
    }
</style>
@{ 
     if (Model!=null)
    {
        <li class="nav-item"> <a class="nav-link" asp-area="" asp-controller="StudentDB" asp-action="Dangky" >Đăng Ký</a></li>
    }
     else
     {
         <li class="nav-item"> <a class="nav-link" id="dangTrongQuaTrinhLam">Đăng Ký</a></li>
     }
 }
<script>

    function showCanhBaoDangLamNCKH() {
        toast({
            title: 'Cảnh Báo',
            message: 'Bạn Không Thể Đăng Ký Thêm Khi Đang Trong Quá Trình Làm',
            type: 'error',
            duration: 1500
        });
    }
    $('#dangTrongQuaTrinhLam').click(function () {
        showCanhBaoDangLamNCKH();

    });

</script>
